/out/production/Escalante_Fabricio_Practica_2/Espectador.class
/out/production/Escalante_Fabricio_Practica_2/Cine.class
/out/production/Escalante_Fabricio_Practica_2/Main.class
/out/production/Escalante_Fabricio_Practica_2/Pelicula.class
